---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
   <div class="mt-16 mx-auto max-w-7xl p-6 sm:mt-8 border-b border-gray-200">
      <div class="text-center">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
          <span class="block xl:inline">Tl;Dr React</span>
        </h1>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          Quick and easy React snippets that you're always looking for but never find
        </p>
        <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="https://github.com/Khaledgarbaya/tldreact.dev/blob/main/CONTRIBUTING.md#how-to-add-your-snippet" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 md:py-4 md:text-lg md:px-10">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
 <span class="ml-2">Add your favorite Snippet</span>
            </a>
          </div>
        </div>
      </div>
    </div>
{% set maxPosts = collections.posts.length | min(6) %}
<div class="mt-8 prose lg:prose-xl">
<h2>Latest {% if maxPosts == 1 %}Snippet{% else %}{{ maxPosts }} Snippets{% endif %}</h2></div>

{% set postslist = collections.posts | reverse | head(-6) %}
{% set postslistCounter = collections.posts | reverse | length %}
{% include "postslist.njk" %}

<div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="{{ '/posts/' | url }}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 md:py-4 md:text-lg md:px-10">
                     See All
            </a>
          </div>
        </div>
