---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set maxPosts = collections.posts.length | min(6) %}

<div class="prose lg:prose-xl">
<h1 class="text-2xl">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1></div>

{% set postslist = collections.posts | reverse | head(-6) %}
{% set postslistCounter = collections.posts | reverse | length %}
{% include "postslist.njk" %}
<a class="block w-1/2 px-4 py-2 mx-auto mt-12 font-bold text-center text-white bg-blue-500 border-b-4 border-blue-700 rounded hover:bg-blue-400 hover:border-blue-500"
 href="{{ '/posts/' | url }}">See All</a>

