<div class="mt-12 grid gap-8 mx-auto lg:grid-cols-2 xl:grid-cols-3" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}

<div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-fill" src="{{post.url | postImage}}.png" alt="{{post.tite}}">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm leading-5 font-medium text-indigo-600">
             {% for tag in post.data.tags %}
          {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="hover:underline" href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %} 
            </p>
            <a href="{{ post.url | url }}" class="block">
              <h3 class="mt-2 text-xl leading-7 font-semibold text-gray-900">
               {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
              </h3>
              <p class="mt-3 text-base leading-6 text-gray-500">
                {% if post.data.description %}{{ post.data.description }}{% endif %}
              </p>
            </a>
          </div>
          <div class="mt-6 flex items-center">
            <div class="mx-auto flex-shrink-0">
              <a class="text-center text-gray-800 border-b-2 border-dashed hover:border-blue-600" href="{{ post.url | url }}">
              Go to code snippet
              </a>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
</div>
